<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyA72hmmNga4xOEC3V1LJ4bbOwNsoJ97cuI",
            authDomain: "book2audio-be677.firebaseapp.com",
            databaseURL: "https://book2audio-be677.firebaseio.com/",
            projectId: "book2audio-be677",
            storageBucket: "book2audio-be677.appspot.com",
            messagingSenderId: "74814148576",
            appId: "1:74814148576:web:0ac07bc85fad2b598de585",
            measurementId: "G-8RH3T8WTND"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        const auth = firebase.auth();
    </script>

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="index.html">Next Gen Text</a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact US</a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero"
            style="background-image: url(&quot;assets/img/tech/info.jpg&quot;);color: rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Revolutionize your Textbooks</h2>
                <p>Tired of reading black and white?<br>Make your textbooks come to life with audio</p><a
                    class="btn btn-outline-light btn-lg" role="button" href="registration.html">Learn More</a>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">What we do</h2>
                    <p>Next Gen Text is revolutionizing the way students learn by making textbooks less words and more
                        fun</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/audio.jpg"></div>
                    <div class="col-md-6">
                        <h3>Increase your productivity</h3>
                        <div class="getting-started-info">
                            <p>Change your workflow and spend time where it's the most necessary. Don't waste countless
                                hours on your textbook. Let Next Gen Text do it for you.</p>
                        </div><a class="btn btn-outline-primary btn-lg" role="button" href="registration.html">Join
                            Now</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Take a look at what we have to offer</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Free</h4>
                        <p>The service that we provide is completely free. Just sign up, and start using our services to
                            make the most of your study time</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Customizable</h4>
                        <p>Want to add a new textbook? Simple, just click the add button, and your new textbook will
                            appear in your dashboard</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Practical</h4>
                        <p>Your laptop ran outta battery? You can always use our Android app to continue listening to
                            your textbook</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>Compatibility</h4>
                        <p>NGT works on all browsers including Google Chrome. Microsoft Edge, and Mozilla Firefox. We
                            change to fit you, and it shouldn't be the other way around</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Recommended</h2>
                    <p>Take a look at some of the favorites</p>
                </div>
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/scenery/image1.jpg"
                                alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="assets/img/scenery/image4.jpg"
                                alt="Slide Image"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                                class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                            class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                                class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">What students are saying about us</h2>
                    <p>Don't just take it from us.<br>Hear what students have to say</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <div class="card-body info">
                                <h4 class="card-title">Aibek&nbsp;Musaev<br></h4>
                                <p class="card-text">What NGT provides is a game changer for students like me who want
                                    to enrich their learning in or outside of the classroom</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <div class="card-body info">
                                <h4 class="card-title">Todd Fernandez</h4>
                                <p class="card-text">Once I learned about NGT's services, I instantly signed up and
                                    converted all my textbooks to audio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <div class="card-body info">
                                <h4 class="card-title">Igwe David</h4>
                                <p class="card-text">I used to have trouble focusing, but the audio immersive experience
                                    that NGT provides helped me pass CS 2340</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="registration.html">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="contact-us.html">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">References</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright Next Gen Text</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="/control/auth.js"></script>
</body>

</html>